/* ブラウザがそれぞれ持っているCSSをリセットするための記述 */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.header {
  width: 100%; /* 横幅いっぱい */
  height: 50px; /* 高さ120px */
  background-color: red; /* 背景色red */
}

.main-visual {
  width: 100%; /* 横幅いっぱい */
  height: 500px; /* 高さ300px */
  background-color: orange; /* 背景色orange */
}

.main {
  width: 960px; /* 横幅840px */
  display: flex; /* Flexboxの利用 */
  justify-content: center; /* 子要素中央寄せ */
  margin: 0 auto;
  background-color: limegreen;
}

.blog {
  width: 600px; /* 横幅600px */
  height: 1400px; /* 高さ1400px */
  background-color: palegreen; /* 背景色limegreen */
}

.footer {
  width: 100%; /* 横幅いっぱい */
  height: 100px; /* 高さ120px */
  background-color: blue; /* 背景色blue */
}
